{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock %}

   {% block body %}
      <main>

         <!-- breadcrumb area start -->
         <section class="breadcrumb__area include-bg text-center pt-95 pb-50">
            <div class="container">
               <div class="row">
                  <div class="col-xxl-12">
                     <div class="breadcrumb__content p-relative z-index-1">
                        <h3 class="breadcrumb__title">حساب من</h3>
                        <div class="breadcrumb__list">
                           <span><a href="#">صفحه اصلی</a></span>
                           <span>حساب من</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- breadcrumb area end -->

         <!-- login area start -->
         <section class="tp-login-area pb-140 p-relative z-index-1 fix">
            <div class="tp-login-shape">
               <img class="tp-login-shape-1" src="{% static 'img/login/login-shape-1.png' %}" alt="">
               <img class="tp-login-shape-2" src="{% static 'img/login/login-shape-2.png' %}" alt="">
               <img class="tp-login-shape-3" src="{% static 'img/login/login-shape-3.png' %}" alt="">
               <img class="tp-login-shape-4" src="{% static 'img/login/login-shape-4.png' %}" alt="">
            </div>
            <div class="container">
               <div class="row justify-content-center">
                  <div class="col-xl-6 col-lg-8">
                     <div class="tp-login-wrapper">
                        <div class="tp-login-top text-center mb-30">
                           <h3 class="tp-login-title">به Shofy وارد شوید.</h3>
                           <p>حساب ندارید؟ <span><a href="{% url 'account:register' %}">ایجاد یک حساب رایگان</a></span></p>
                        </div>
                        <form action="" method="post">
                           {% csrf_token %}
                           <div class="tp-login-option">
                              <div class="tp-login-social mb-10 d-flex flex-wrap align-items-center justify-content-center">
                                 <div class="tp-login-option-item has-google">
                                    <a href="#">
                                       <img src="{% static 'img/icon/login/google.svg' %}" alt="">
                                       با گوگل وارد شوید
                                    </a>
                                 </div>
                                 <div class="tp-login-option-item">
                                    <a href="#">
                                       <img src="{% static 'img/icon/login/facebook.svg' %}" alt="">
                                    </a>
                                 </div>
                                 <div class="tp-login-option-item">
                                    <a href="#">
                                       <img class="apple" src="{% static 'img/icon/login/apple.svg' %}" alt="">
                                    </a>
                                 </div>
                              </div>
                              <div class="tp-login-mail text-center mb-40">
                                 <p>یا با <a href="#">ایمیل وارد سیستم شوید</a></p> 
                              </div>
                              <div class="tp-login-input-wrapper">
                                 <div class="tp-login-input-box">
                                    <div class="tp-login-input">
                                       <!-- <input id="email" type="email" placeholder="shofy@mail.com"> -->
                                       {{ form.username }}
                                       {% for e in form.username.errors %}
                                          <p class="text-danger">{{ e }}</p>
                                       {% endfor %}
                                    </div>
                                    <div class="tp-login-input-title">
                                       <label for="email">نام کاربری شما</label>
                                    </div>
                                 </div>
   
                                 <div class="tp-login-input-box">
                                    <div class="tp-login-input">
                                       <!-- <input id="email" type="email" placeholder="shofy@mail.com"> -->
                                       {{ form.password }}
                                    </div>
                                    <div class="tp-login-input-title">
                                       <label for="email">کلمه عبور</label>
                                    </div>
                                 </div>
                                 
                               </div>
                               <div class="tp-login-suggetions d-sm-flex align-items-center justify-content-between mb-20">
                                  <div class="tp-login-remeber">
                                     <input id="remeber" type="checkbox">
                                     <label for="remeber">من را به خاطر بسپار</label>
                                  </div>
                                  <div class="tp-login-forgot">
                                     <a href="forgot.html">گذرواژه را فراموش کرده‌اید؟</a>
                                  </div>
                               </div>
                               <div class="tp-login-bottom">
                                  <button type="submit" class="tp-login-btn w-100">ورود به سیستم</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- login area end -->

      </main>
   {% endblock %}

